{%for track in track_list%}
<tr>
    <th scope="row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="300" height="150" src={{"https://www.youtube.com/embed/"+track.url}}
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </th>
    <td>{{track.genres}}</td>
    <td>{{track.moods}}</td>
    <td>
        <button id="clipboard" data-clipboard-text={{"https://www.youtube.com/watch?v="+track.url}} onclick="ym(1, 'reachGoal', 'copy_button'); return true;">
            <span>Скопировать</span>
        </button>

        <!-- 2. Include library -->
        <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
        <!-- 3. Instantiate clipboard by passing a HTML element -->
        <script>
      var btns = document.querySelectorAll('button');
      var clipboard = new ClipboardJS(btns);

      clipboard.on('success', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
      });

      clipboard.on('error', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
      });
    </script>
    </td>
</tr>
{%endfor%}